<style>
  .ri-poker-hearts-fill{
    color: red;
    font-size: 1.2rem;
  }
</style>

<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="ri-facebook-box-fill"></i>
      <i class="ri-instagram-fill"></i>
      <i class="ri-linkedin-box-fill"></i>
    </div>
    <div class=".f-info-brand">&copy; WanderBloom Private Limited</div>
    <div class="f-info-links">
      <a href="/listings">Privacy</a>
      <a href="/listings">Terms</a>
    </div>
    <div>Made with  <i class="ri-poker-hearts-fill"></i> by PARTH</div>
  </div>
</footer>